.general{
    background-color:rgb(233, 241, 250) ;
}

.tête{
    margin-top: 20px;
    margin-left: 20px;
}


#link{
    color: black;
}

.fleche{
    height: 15px;
    width: 20px;
    padding-right: 5px;
    transform: translateY(3px);
}

.cons{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background: whitesmoke;
    margin: 0px 80px;
}


.hall{
    margin: 40px; 
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 500px;
    height: 300px;
}


.effect03{
    text-decoration: none;
    color: #FFF;
    border: none;
    background-color:  #ee1818;
    font-weight: 600;
    letter-spacing: 2px;
    width: 200px;
    height: 48px;
    box-shadow: 0px 0px 0px 0px #ee1818;
    transition: all 0.5s ease-out;
    margin-bottom: 80px;
}

.effect03:hover{
    background-color:  #ee1818;
    box-shadow: 2px 2px 13px 1px  #ee1818;
    transition: 0.25s ease-out;
    cursor: pointer;
}

.effect03 span {
    transition: all 0.5s ease-out;
    z-index: 2;
}
.effect03:hover span{
    letter-spacing: 0.18em;
    color: #FFFC;
}


#DR{
    height: 300px;
    width: 80%;
    transform: translateY(30px);
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.room{
    background-color: white;
    text-align: center;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transition: 0.2 ease-in-out;
    
}



.price{
    background-color: lightgray;
    height: 80px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px  ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.room:hover{
    transform: scale(1.03);
    transition: 0.25s ease-in-out;
}

.para2{
    margin-left: 30px;
    margin-right: 20px;
    text-align: justify;
    padding-top: 20px;
    padding-right: 60px;
}

.services{
    width: 100%;
    height: 300px;
}


.footdet{
    display: flex;
    justify-content: space-around;
    margin:60px 10%;
}

.reviews{
    width: 320px;
    height: 180px;
    background-color: rgb(230, 230, 230);
    margin: 20px;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.revText{
    margin: 0px 30px;
}

.icone{
    height: 30px;
    width: 30px ;
    margin-right: 20px;
    transform: translateY(9px);
}

.contacts{
    margin-right: 60px ;
    display: flex;
}

