.hotels{
    margin: auto;
    padding: auto;
    max-width: 1200px;
}


.anonce1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 450px;
    height: 500px;
    margin-bottom: 40px;
}

.bloc2, .bloc1{
    display: flex;
    justify-content: space-around;
}

#see, .seeMore{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anonce1 img{
    height: 230px;
}

.anonce1 p,.anonce1 h3{
    margin-left: 50px;
    margin-right: 50px;
}

.inf{
    display: flex;
    justify-content: center;
}

.inf button{
    height: 50px;
    width: 300px;
    border: none;
    outline: none;
    background: rgb(136, 194, 228);
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
    margin-top: 20px;
}

.inf img{
    width: 40px;
}

.inf button:hover{
    cursor: pointer;
}