html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
	font-family: Verdana,sans-serif;
	color: #333;
    overflow-x: hidden;
    --featured-img: linear-gradient(180deg,#fff,#262626);
    --bg-blend-mode: overlay;
    background:white;
}

html::-webkit-scrollbar {
    width: 16px;
    height: 10px;
}
html::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
html::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
}

.container{
    text-align: center;
}




.cool::after{
	content: '';
	position: absolute;
	display: none;
	height: 4px;
	width: 25px;
	border-radius: 10px;
	background: #2e7aeb;
	top:40px;
}





#nor .cool:hover::after{
	animation-name: namen;
	animation-duration: 0.5s;
}

@keyframes namen{
	from{
		width: 25px;
	}
	to{
		width: 40px;
	}
}

.cool:hover::after{
	animation-name: name;
	animation-duration: 0.5s;
	display: block;
	width: 40px;
}

@keyframes name{
	from{
		width: 0;
	}
	to{
		width: 40px;
	}
}

.nav-links .menu a:hover{
	color:  #2e7aeb;
	transition: 0.4s;
}


.bbt{
    outline: none;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 29px;
    padding: 3px;
    background-color: white;
    transform: translate(-4px,2.5px);
}


.img21{
    position: absolute;
    right: 10%;z-index: -1;
    opacity: 0.7;
}


/* Navbar */


.bu{
  appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  overflow: visible;
  padding: 6px 10px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-right: 15px;
}


.bu:focus {
  outline: 0;
}

.bu:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.bu:active {
  background-color: #0039D7;
  border-color: #0039D7;
}

.logo{
    margin-left: 30px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.nav-links a {
    color: #fff;
}


.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

.nav-links *{
    text-decoration: none;
    list-style: none;
}


/* WELCOME*/

.welcome{
    margin: 20px 15%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.textt{
    text-align: left;
    margin-top: 100px;
}

.mySlides img {
    vertical-align: middle;
    height: 220px;
}

.row img {
    vertical-align: middle;
    height: 70px;
}

.container1 {
    position: relative;
    width: 400px;
}

.mySlides {
    display: none;
}
  
.cursor {
    cursor: pointer;
}
  
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev{
    left: 0;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.caption-container1 {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.column {
    float: left;
    width: 33.33%;
}
  
.demo {
    opacity: 0.6;
}
  
.active, .demo:hover {
    opacity: 1;
}

/* WHY */

.boxx{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    padding: 20px 10px;
    transition: 0.25s;
}

.boxx:hover{
    background-color: rgb(243, 243, 243);
    transition: 0.25s ease-in-out;
    transform: scale(1.1);
}

.dest{
    background-image: url("photos/rio2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    color: whitesmoke;
    padding-top: 50px;
}


#slider {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    overflow: hidden;
    white-space: nowrap;

  }
  #slider > li {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    line-height: normal;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1); /* Slide css animation */
    background-size: cover;
    box-sizing: border-box;

  }

#slider li{
    margin: 0;
}

/* FEEDBACKS */

.feedbacks, .container{
    text-align: center;
}

.feedbacks h1, .why h1{
    font-family: Verdana,sans-serif;
    color: #333;
    margin: 20px;
}

.effect02{
    text-decoration: none;
    color: #FFF;
    border: none;
    background-color: #4c49ec;
    font-weight: 600;
    letter-spacing: 2px;
    width: 200px;
    height: 48px;
    box-shadow: 0px 0px 0px 0px #321fe0;
    transition: all 0.5s ease-out;
    margin-bottom: 80px;
}

.effect02:hover{
    background-color: #3522d8;
    box-shadow: 2px 2px 13px 1px #321fe0;
    transition: 0.25s ease-out;
    cursor: pointer;
}

.effect02 span {
    transition: all 0.5s ease-out;
    z-index: 2;
}
.effect02:hover span{
    letter-spacing: 0.18em;
    color: #FFFC;
}

.cmnt,.boxxcont{
    display: flex;
    justify-content: space-between;
    margin: 60px 15%;
    font-size: 14px;
}

.cmnt h3{
    color: #2471ff;
}

.cmnt h5, .cmnt h6{
    color: grey;
}

.cmnt1, .cmnt2, .cmnt3{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, #2471ff 0px -3px 0px inset;
    flex-basis: 30%;
    padding: 10px;
}
.cmnt2{
    height: 260px;
    transform: translateY(-20px);
}
.cmnt1{
    height: 220px;
}
.cmnt3{
    height: 220px;
}


/* FOOTER */

footer{
    background-image: url("photos/footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
    position: relative;
    color: whitesmoke;
}

.bluefooter{
    background-color: #192A66;
    width: 100%;
    min-height: 200px; /* à enlever plus tard*/
    bottom: 0;
}


.reseaux img{
	width: 35px;
	margin-left: 6px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.reseaux img:hover{
    transform: scale(1.2);
    transition: 0.25s ease-in-out;
}

.doura{
    clip-path: polygon(0px 80%,0 100%, 100% 100%, 100% 0%);
    background-color:#192A66;
}

.upfooter{
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    padding: 20px 20px;
}


/* Getting started button + Animation*/
  
.start{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:  10px 0px;
    width: 100%;
}

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    max-width: 180px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover {
    text-decoration: none;
}
  
.effect01 {
    color: #FFF;
    border: 4px solid #8F682C;
    box-shadow:0px 0px 0px 1px #8F682C inset;
    background-color: #8F682C;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.effect01:hover {
    border: 4px solid #cd201f;
    background-color: #cd201f;
    box-shadow: 2px 2px 15px 1px #cd201f;
}
  
.effect01 span {
    transition: all 0.5s ease-out;
    z-index: 2;
}
.effect01:hover span{
    letter-spacing: 0.13em;
    color: #FFFC;
}
  

.effect01:after {
    background: #FFF;
    border: 0px solid #8F682C;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
}

.effect01:hover:after {
    background: #FFF;
    border: 20px solid #8F682C;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}


.bas{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.footcontent{
    margin: 0px 10%;
}

.reserved{
    color: white;
    font-size: 13px;
    opacity: 0.8;
}

.contact img{
    width: 20px;
    padding-right: 10px;
    transform: translateY(3px);
}

.helpfoot{
    font-size: 14px;
    padding: 30px;
    display: flex;
    flex-basis: 50%;
}

.horiz{
    opacity: 0.2;
    height: 180px;
    transform: translateX(-30px);
}

.links{
    flex-basis: 42%;
}

.links a{
    text-decoration: none;
    color: ivory;
    line-height: 1.5;
}

.links a:hover{
    color: rgba(219, 163, 171, 0.808);
    padding-left: 7px;
    transition: 0.5s ease-in-out;
}

.helpfoot h3{
    color:  #8F682C;
}

.inputfoot{
    height: 30px;
    width: 160px;
    background-color: #131211;
    border: none;
    outline: none;
    color: whitesmoke;
    padding-left: 10px;
}

.buttonfoot{
    height: 30px;
    width: 70px;
    border: none;
    outline: none;
    background-color: #8F682C;
    color: whitesmoke;
    transform: translateX(-5px);
}

.buttonfoot:hover{
    font-size: 15px;
    box-shadow: 2px 2px 15px 2px #8F682C;
    transition: 0.25s ease-in-out;
}

.autre{
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
}

.informed{
    flex-basis: 58%;
}

.contact{
    flex-basis: 40%;
}

/* Responsive */

@media screen and (max-width: 650px){
	.bas{
        display: block;
        text-align: center;
    }

    .reserved{
        padding-top: 5px;
    }
}


@media screen and (max-width: 1300px){
    .horiz{
        display: none;
    }
    .helpfoot{
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 1100px){
    .helpfoot{
        display: block;
        text-align: center;
        margin-bottom: 0px;
    }
    .contact{
        margin-bottom: 30px;
    }
    .cmnt{
        margin: 60px 7%;
        font-size: 13px;
    }
}

@media screen and (max-width: 800px){
    .autre{
        display: block;
    }
    .links{
        margin-bottom: 30px;
    }
    .informed{
        margin-bottom: 30px;
    }
    .cmnt{
        display: block;
    }
    .cmnt1, .cmnt2, .cmnt3{
        height: auto;
        transform: scale(1);
        margin-bottom: 10px;
    }
    .effect02{
        transform: translateY(-20px);
        margin-bottom: 30px;
    }
    #id2{
        display: none;
    }
    .boxxcont{
        display: inline;
    }
    .boxx{
        width: 60%;
        margin: auto;
        padding: auto;
    }
    .welcome{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .textt{
        text-align: center;
    }

    .container1{
        position: relative;
        width: 100%;
    }
    .img12{
        display: none;
    }

    .nav-links{
        display: none;
    }
    .logo{
        margin: auto;
        padding: auto;
    }


}

@media screen and (max-width: 400px){
    .buttonfoot{
        margin-top: 5px;
    }
    
    h1{
        font-size: 16px;
    }

    .inputfoot{
        position: relative;
        width: 100%;
    }

    .effect02{
        position: relative;
        width: 100%;
    }


}







